# 1. Variables and Data Types

**Variables**:
- Containers for storing data values. In Python, variables do not need explicit declaration to reserve memory space.

**Data Types**:
- Common data types in Python include integers (`int`), floating-point numbers (`float`), strings (`str`), and booleans (`bool`).

**Type Conversion**:
- Converting data types using functions like `int()`, `float()`, `str()`, `bool()`.

**Checking Type**:
- Use `type()` to check the type of a variable.

**String Formatting**:
- Concatenation: `print("Software" + var)`
- Comma separation: `print("Software", var)`
- f-string: `print(f"Software{var}")`

In [ ]:
print("Software Fellowship")

print("Hello", end = " ")
print("World")

print("Tech", end= "-")
print("Axis")

In [ ]:
# Variable declaration
name = "Tech Axis"
established = 2017
distance = 1.65
sponsor = True
extra_info = None

In [ ]:
# Checking type
print(type(name))
print(type(established))
print(type(distance))
print(type(sponsor))
print(type(extra_info))

In [ ]:
# Type conversion
age_str = str(established)
print(age_str, "\n", type(age_str))

In [ ]:
# String formatting
var = "Fellowship"

print("Software" + var)   # Concatenation
print("Software", var)    # Comma separation
print(f"Software{var}")   # f-string

### QUESTION
What will be the output of the following prints?
```
print("apple" + 5)
print("apple", 5)
print(f"apple{5}")
```

# 2. Input

- **Input**: Use the `input()` function to get user input. The input is always a string.
- **Type Conversion**: Convert the input string to other types like `int()`, `float()`, `bool()` if needed.

In [ ]:
user_name = input("Enter your name: ")
print(f"Your name is {user_name}")

### QUESTION
What will happen if you try the following?
```
num = input("Enter a number: ")
result = num + 5
print(result)
```

# 3. Comments


- **Single-line comment**: Use `#` at the beginning of the comment.
- **Multi-line comment**: Use triple quotes `'''` or `"""`.

In [ ]:
# Software Fellowship

"""
Software
Fellowship
"""

# 4. Operators


- **Arithmetic Operators**: `+`, `-`, `*`, `/`, `//`, `%`, `**`
  - `**`: Exponentiation
  - `//`: Floor division
- **Comparison Operators**: `==`, `!=`, `>`, `<`, `>=`, `<=`
- **Logical Operators**: `and`, `or`, `not`
- **Assignment Operators**: `=`, `+=`, `-=`, `*=`, `/=`, `//=`, `%=`, `**=`

In [ ]:
messi = 10
ronaldo = 7
num = -3.54

players = True
coach = False

print(messi + ronaldo)
print(messi - ronaldo)
print(messi * ronaldo)
print(messi / ronaldo)
print(messi % ronaldo)
print(messi // ronaldo)   # Floor Division
print(messi ** ronaldo)   # Exponential
print(round(num))
print(abs(num), "\n")

print(messi == ronaldo)
print(messi != ronaldo)
print(messi > ronaldo)
print(messi < ronaldo)
print(messi >= ronaldo)
print(messi <= ronaldo, "\n")

print(messi == 10 and ronaldo == 7)
print(coach or not(players), "\n")

**Importing Modules**:
- `math`: Provides mathematical functions.
- `random`: Provides functions for generating random numbers.

In [ ]:
import math

pi = math.pi
infinity = math.inf


print(math.ceil(pi))
print(math.floor(pi), "\n")

print(math.sqrt(pi))
print(math.factorial(5), "\n")

print(math.sin(pi), "\n")

print(math.degrees(pi))
print(math.radians(180), "\n")


print(math.perm(6, 2), "\n")

print(math.gcd(50, 10, 20))
print(math.lcm(3, 7, 5, 10), "\n")

print(math.copysign(pi, -1))

In [ ]:
#Importing Factorial function from math module directly
from math import factorial
print(factorial(5))

In [ ]:
import random

# Generate a random float in [0.0, 1.0)
print(random.random())

# Generate a random float in [1.0, 10.0]
print(random.uniform(-5.0, 3.0))

# Generate a random integer in [1, 10]
print(random.randint(1, 48))

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Shuffle a list
random.shuffle(my_list)
print(my_list)

# Choose a random element from a list
print(random.choice(my_list))

# Get a random sample of 3 elements from a list
print(random.sample(my_list, 3))

### QUESTION
Which of the following prints are valid?
```
print("5" * "4")
print(5 * "4")
print("5" * 4)
print(5 * 4)
```

# 5. Strings


Strings in python are surrounded by either single quotation marks, or double quotation marks. '*Pulchowk*' is the same as "*Pulchowk*".

## String are Arrays
In Python, strings are similar to those in many other programming languages—they are arrays of bytes that represent Unicode characters.

Unlike some languages, Python doesn’t have a separate character data type. Instead, a single character is just a string with one element.

You can use square brackets to access parts of the string.

In [ ]:
example_string = "Tech, Axis!"

# String Indexing
print(example_string[0])
print(example_string[4])
print(example_string[-1])
print(example_string[-5], "\n")

# String to Uppercase, Lowercase, Swapcase
print(example_string.upper())
print(example_string.lower())
print(example_string.swapcase(), "\n")

# Find and Replace
print(example_string.find("Tech"))    # Returns the lowest index in the string where the substring is found
print(example_string.find("xi"))
print(example_string.find("Job"))     # Returns -1 if the substring is not found.
print(example_string.replace("Tech", "Job"))

### QUESTION
What does the following code Output?
```
text = "software fellowships"
print(text.title())
print(text.find("o"))
print(text.find("o", 2))
print(text[::-1])
```

# 6. Flow Control: Selection


### **Conditional Statements: if, elif, else**
Conditional statements in Python allow you to execute different blocks of code based on certain conditions. These statements are used to make decisions in your code.

## **Basic Syntax**
### **if Statement:**
The if statement is used to test a condition. If the condition is True, the block of code inside the if statement is executed.

### **elif Statement:**
The elif (short for "else if") statement allows you to check multiple expressions for True and execute a block of code as soon as one of the conditions is True. You can have multiple elif statements.

### **else statement:**
The else statement catches anything that isn't caught by the preceding conditions. The block of code inside the else statement is executed if all the previous conditions are False.

In [ ]:
score = 85

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print(f"The grade is: {grade}")

### QUESTION
What grade would be given for this case?</br>
Compare it with the grade determined in the previous example.</br>
(Think before running the cell below)

In [ ]:
score = 85

if score >= 70:
    grade = 'C'
elif score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print(f"The grade is: {grade}")

## Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line

You can also have multiple else statements on the same line

In [ ]:
a = 420
b = 330

print("A") if a > b else print("B")
print("A") if a > b else print("=") if a == b else print("B")

## The pass Statement

In [ ]:
a, b = 33, 200

if b > a:
  pass

## Nested If statement
### Change the temperature and is_raining variable and observe the output

In [ ]:
temperature = 25
is_raining = True

if temperature > 30:
    print("It's hot outside.")
    if is_raining:
        print("Wear light clothes and take an umbrella.")
    else:
        print("Wear light clothes and don't worry about rain.")
elif temperature > 20:
    print("The weather is warm.")
    if is_raining:
        print("Wear a light jacket and take an umbrella.")
    else:
        print("Wear a light jacket and enjoy the weather.")
elif temperature > 10:
    print("It's a bit chilly.")
    if is_raining:
        print("Wear a warm jacket and take an umbrella.")
    else:
        print("Wear a warm jacket.")
else:
    print("It's cold outside.")
    if is_raining:
        print("Wear a heavy coat and take an umbrella.")
    else:
        print("Wear a heavy coat.")

# 7. Flow Control: Repetition



## While Loop
Loops allow you to execute a block of code multiple times. Python provides two types of loops: while and for.
### **Syntax**
```
while condition:
    # Code to execute

```

In [ ]:
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

## For Loop
A for loop iterates over a sequence (such as a list, tuple, or string) and executes a block of code for each element in the sequence.
```
for element in sequence:
    # Code to execute
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print("Fruit:", fruit)

## When to Use while and for Loops
While both while and for loops can be used to repeat a block of code, they are designed for different use cases.

### while Loop
Use Case:

Use a while loop when you need to repeat a block of code as long as a certain condition is true. <br>
This is particularly useful when the number of iterations is not known beforehand.

In [ ]:
while True:
  input_no = int(input("Enter a number: "))
  if input_no == 0:
    break

In [ ]:

sum = 0
count = 1
while count <= 10:
    sum += count
    count += 1
print("Sum using while loop:", sum)

### for Loop:
Best for iterating over sequences or ranges.<br>
Used when the number of iterations is known or can be determined from the start.

In [ ]:
sum = 0
for count in range(1, 11):
    sum += count

print("Sum using for loop:", sum)

## Nested Loops
Nested loops are loops inside other loops.Think of it like having a loop inside another loop, where each iteration of the outer loop triggers the full execution of the inner loop.

### Simple Star Pattern Example
Let's use a simple star pattern example to understand nested loops. We'll create a pattern like this
```
*
**
***
****
*****
```

In [ ]:
for i in range(1, 6):
  for j in range (1, i+1):
    print("*", end = "")
  print()


#shortcut
#for i in range (1, 6):
#  print("*" * i)

# 8. Lists


In Python, a list is a built-in data type used to store a collection of items. These items can be of different types (e.g., integers, strings, floats, etc.), and they are ordered, meaning that each item has a specific position within the list. Lists are mutable, which means you can change, add, or remove items after the list has been created.


Key Characteristics of Lists:
1. Ordered: Items in a list have a defined order, and this order will not change unless explicitly modified.
2. Mutable: You can modify the contents of a list (add, remove, or change items).
3. Indexed: Each item in a list has an index, starting from 0 for the first item.
4. Dynamic: Lists can grow or shrink in size as needed.

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

## List Indexing

In [ ]:
print(fruits[0])
print(fruits[1:3])
print(fruits[:])

### QUESTION
What will be the output of following code?
```
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits[-3:-1]
```

## 2D Lists:

In [ ]:
marks = [
    [85, 90, 78],
    [88, 82, 91],
    [92, 87, 85]
]

second_student_third_subject = marks[1][2]
print(second_student_third_subject, "\n")

#an example of slicing in 2D lists
print(marks[0:2][0:1], "\n")

# You can create a list of mixed data type
random_list = [None, "Tech Axis", 123, 3.14, True, [1, 2, 3], (4, 5, 6), {"name":"Ram", "age": 21}]
print(random_list)

## List methods

### append()
Adds an item to the end of the list.<br>
Syntax:
`list.append(item)`

### insert()
Inserts an item at a specified index.<br>
Syntax:
`list.insert(index, item)`

### remove()
Removes the first item with the specified value.<br>
Syntax:
`list.remove(item)`

### pop()
Removes the item at the specified position and returns it.<br>
If no index is specified, it removes and returns the last item.<br>
Syntax:
`list.pop([index])`

### reverse()
Reverses the order of the list.<br>
Syntax:
`list.reverse()`

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.append('orange')
print(fruits, "\n")

fruits.insert(1, 'blueberry')
print(fruits, "\n")

fruits.remove('banana')
print(fruits, "\n")

fruits.pop(1)
print(fruits, "\n")

fruits.reverse()
print(fruits, "\n")

### sort()
Sorts the list in ascending order by default.<br>
Can also accept a reverse parameter to sort in descending order.<br>
Syntax:
`list.sort(key=None, reverse=False)`

In [ ]:
numbers = [3, 1, 4, 1, 5, 9]

# Sorting in ascending order
numbers.sort()
print(numbers)

# Sorting in descending order
numbers.sort(reverse = True)
print(numbers)

## Unpacking
Unpacking in Python is the process of extracting individual elements from a collection (such as a list, tuple, or set) and assigning them to corresponding variables in a single assignment statement.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'mango']

# Unpacking
x, y, *z = fruits
print(x)
print(y)
print(z)

print()
# Unpacking 2.0
p, *q, r = fruits
print(p)
print(q)
print(r)

### QUESTION
What will the output of following code:
```
list_a = [1, 2, 3, 4, 5]

list_b = list_a
list_b.append(6)

print(list_a)
print(list_b)
```

# 9. Tuples



A tuple is an ordered, immutable collection of items. Tuples are similar to lists in that they can store a collection of items, but unlike lists, tuples cannot be modified after they are created. This immutability makes tuples useful for storing data that should not change throughout the program.

Key Characteristics of Tuples:
1. Ordered: Items have a defined order and that order will not change.
2. Immutable: Once created, the items in a tuple cannot be changed, added, or removed.
3. Indexed: Each item in a tuple has an index, starting from 0.
4. Heterogeneous: Can contain items of different types (integers, strings, floats, etc.).

## Creating Tuple

In [ ]:
# A tuple of integers
numbers = (1, 2, 3, 4, 5)

# A tuple of strings
fruits = ('apple', 'banana', 'cherry')

# A tuple with mixed data types
mixed_tuple = (1, 'apple', 3.14, True)

# A tuple with one item (requires a trailing comma)
single_item_tuple = (42,)

# An empty tuple
empty_tuple = ()

Note: Indexing in Tuple is same as that of List.

Tuples, like lists, are ordered collections and allow indexing to access individual elements. Since tuples are immutable, you cannot change their elements after creation, but you can access them using their index.

## Tuple Methods

### count(): Returns the number of times a specified value appears in the tuple.
Syntax:
`tuple.count(value)`

### index(): Returns the index of the first occurrence of the specified value.
Syntax:
`tuple.index(value)`

In [ ]:
fruits = ('apple', 'banana', 'cherry', 'apple', 'orange')

print(fruits.count('apple'))
print(fruits.index('banana'))

### QUESTION
Which of the following methods are correct for tuples:

```
all_tuples = ("software", "fellowship", 3.14, True)

all_tuples.append(None)
all_tuples.remove("software")
```

## Mutable vs Immutable Objects: Tuples are Immutable
**Mutable Objects:**

Mutable objects can be changed after they are created.
Examples include <br>
`List, Dictionary, Set, bytearray`

**Immutable Objects:**

Immutable objects cannot be changed after they are created.
Examples include <br>
`int, float, bool, str, tuple, frozenset, bytes`

**Why Tuples are Immutable:**
1. Tuples are designed to be immutable for several reasons:

2. Safety: Once created, the data cannot be altered, reducing bugs and unintended side effects.
3. Hashability: Immutable objects can be used as keys in dictionaries and as elements of sets because they are hashable.
4. Performance: Tuples can be faster than lists when iterating through items because they are fixed in size.

In [ ]:
string_ex = "software"

# Trying to change it directly (this won't work)
#string_ex[0] = "S"
print(string_ex)

# Creating a new string instead
new_string = "S" + string_ex[1:]
print(new_string)

# 10. Sets in Python



A set is an unordered collection of unique elements. Sets are used when the presence of an element is more important than the order or the number of times it appears.

Key Characteristics of Sets:
1. Unordered: The items have no defined order.
2. Unique: Duplicate items are not allowed.
3. Mutable: You can add or remove items from a set.
4. Iterable: You can loop through the items in a set.

## Creating Sets

In [ ]:
# Creating a set of fruits
fruits = {'apple', 'banana', 'cherry'}

# Creating an empty set
empty_set = set()

Set Methods:
1. add(): Adds an element to the set.
2. remove(): Removes a specific element from the set. Raises an error if the element is not found.
3. discard(): Removes a specific element from the set. Does not raise an error if the element is not found.
4. pop(): Removes and returns an arbitrary element from the set.
5. clear(): Removes all elements from the set.
6. union(): Returns a set that is the union of sets.
7. intersection(): Returns a set that is the intersection of sets.
8. difference(): Returns a set containing the difference between two or more sets.

In [ ]:
fruits = {'apple', 'banana', 'cherry'}

# Add an element
fruits.add('orange')
print(fruits)

# Remove an element
fruits.remove('banana')
print(fruits)

In [ ]:
tropical_fruits = {'mango', 'pineapple', 'banana'}
fruits = {'apple', 'banana', 'cherry'}

# Union of sets
all_fruits = fruits.union(tropical_fruits)
print(all_fruits)

# Intersection of sets
common_fruits = fruits.intersection(tropical_fruits)
print(common_fruits)  # Output: {'banana'}

# 11. Dictionaries in Python



A dictionary is an unordered collection of key-value pairs. Each key must be unique and immutable, while the values can be of any data type and can be duplicated.

Key Characteristics of Dictionaries:
1. Unordered: The items have no defined order.
2. Mutable: You can add, remove, or change items.
3. Keys: Must be unique and immutable (e.g., strings, numbers, tuples).
4. Values: Can be of any data type and can be duplicated.

## Creating Dictionary

In [ ]:
# Creating a dictionary of fruits and their prices
fruit_prices = {'apple': 0.99,
                'banana': 0.59,
                'cherry': 2.99}

# Creating an empty dictionary
empty_dict = {}

print(fruit_prices)
print(empty_dict)

### Dictionary Methods:
1. keys(): Returns a view object containing the keys of the dictionary.
2. values(): Returns a view object containing the values of the dictionary.
3. items(): Returns a view object containing the key-value pairs of the dictionary.
4. get(): Returns the value for a specified key. Returns None if the key is not found.
5. update(): Updates the dictionary with the specified key-value pairs.
6. pop(): Removes the specified key and returns the corresponding value.
7. clear(): Removes all items from the dictionary.

In [ ]:
fruit_prices = {'apple': 0.99,
                'banana': 0.59,
                'cherry': 2.99}

# Get all keys
print(fruit_prices.keys())

# Get all values
print(fruit_prices.values())

# Get all items
print(fruit_prices.items(), "\n")



# Add a new fruit and its price
fruit_prices.update({'orange': 1.29})
print(fruit_prices)

# Remove a fruit and its price
price_of_banana = fruit_prices.pop('banana')
print(fruit_prices)
print(price_of_banana)

# Clear all items from the dictionary
fruit_prices.clear()
print(fruit_prices)